{% set shoppingcart_image_file = page.header.default_photo ? page.header.default_photo : (page.media.images|first).uri.filename %}
{% set shoppingcart_image = page.header.show_all_media ? false : page.media.images|first %}
{% for page_media in page.media.images if page_media.uri.filename == shoppingcart_image_file %}
    {% set shoppingcart_image = page_media %}
{% endfor %}

{% set image_size_product = config.plugins.shoppingcart.ui.image_size_product %}
{% set image_size_cart = config.plugins.shoppingcart.ui.image_size_cart %}
{% set variationgroups = [] %}
{% if page.header.groups is defined and (page.header.groups|first).variations is defined and (page.header.groups|first).variations|length > 0 %}
{% set variationgroups = page.header.groups %}
{% endif %}

{% include 'partials/shoppingcart_core_cart.html.twig' %}

<div id="shoppingcart-detail" class="shoppingcart-product-container block-group">
    
    <div class="shoppingcart-info block">
        {% if page.media.images and page.header.show_all_media %}
            {% for catalogue_image in page.media.images %}
            {% if config.plugins.shoppingcart.ui.image_container_square %}
            <div class="shoppingcart-thumb" style="text-align:center;width:{{ image_size_product }}px;height:{{ image_size_product }}px;background-color:{{ page.header.product_bgcolor }}">
            {% else %}
            <div class="shoppingcart-thumb">    
            {% endif %}    
                <a {{ config.plugins.shoppingcart.ui.fancybox ? 'data-fancybox="itemgallery"' : 'target="_blank"' }} href="{{ catalogue_image.url }}">
                {{ catalogue_image.cropResize(image_size_product, image_size_product).html(page.header.title, 'shoppingcart-thumb-image')|raw }}
                </a>
            </div>
            <br><br>
            {% endfor %}
        {% elseif shoppingcart_image %}
            {% if config.plugins.shoppingcart.ui.image_container_square %}
            <div class="shoppingcart-thumb" style="text-align:center;width:{{ image_size_product }}px;height:{{ image_size_product }}px;background-color:{{ page.header.product_bgcolor }}">
            {% else %}
            <div class="shoppingcart-thumb">    
            {% endif %}    
            <a {{ config.plugins.shoppingcart.ui.fancybox ? 'data-fancybox="itemgallery"' : 'target="_blank"' }} href="{{ shoppingcart_image.url }}">
            {{ shoppingcart_image.cropResize(image_size_product, image_size_product).html(page.header.title, 'shoppingcart-thumb-image')|raw }}
            </a>
            </div>
            
        {% else %}
            <br><br><br>
        {% endif %}
        {% if variationgroups|length > 0 %}
        {% for group in variationgroups if group.variations|length > 0 %}
            <div class="product-item-group-media" id="groupmedia-{{ group.groupid }}">
                {% if group.groupmedia is defined and page.media[group.groupmedia] is defined %}
                    {% if config.plugins.shoppingcart.ui.image_container_square %}
                    <div class="shoppingcart-thumb" id='varmedia-{{ group.groupid }}' style="display:none;text-align:center;width:{{ image_size_product }}px;height:{{ image_size_product }}px;background-color:{{ page.header.product_bgcolor }}">
                    {% else %}
                    <div class="shoppingcart-thumb" id='varmedia-{{ group.groupid }}' style='display:none;'>    
                    {% endif %}    
                    <a {{ config.plugins.shoppingcart.ui.fancybox ? 'data-fancybox="itemgallery"' : 'target="_blank"' }} href="{{ page.media[group.groupmedia].url }}">
                    {{ page.media[group.groupmedia].cropResize(image_size_product, image_size_product).html(page.header.title, 'shoppingcart-thumb-image')|raw }}
                    </a>
                    </div>
                {% endif %}
                
                {% for variation in group.variations %}
                    {% if variation.media is defined and page.media[variation.media] is defined %}
                        {% if config.plugins.shoppingcart.ui.image_container_square %}
                        <div class="shoppingcart-thumb" id='varmedia-{{ group.groupid ~ '-' ~ variation.variationid }}' style="display:none;text-align:center;width:{{ image_size_product }}px;height:{{ image_size_product }}px;background-color:{{ page.header.product_bgcolor }}">
                        {% else %}
                        <div class="shoppingcart-thumb" id='varmedia-{{ group.groupid ~ '-' ~ variation.variationid }}' style='display:none;'>    
                        {% endif %}    
                        <a {{ config.plugins.shoppingcart.ui.fancybox ? 'data-fancybox="itemgallery"' : 'target="_blank"' }} href="{{ page.media[variation.media].url }}">
                        {{ page.media[variation.media].cropResize(image_size_product, image_size_product).html(page.header.title, 'shoppingcart-thumb-image')|raw }}
                        </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="shoppingcart-details block">
        <h2>{{ page.header.title|e }}</h2>
        <p>
        {{ page.content|raw }}
        </p>
        
        {% set product = { 'title': page.header.title, 'id': page.header.product_id, 'stock': page.header.stock, 'price': page.header.price, 'image': shoppingcart_image, 'url': page.url } %}
        {% if page.header.stock > 0 and variationgroups|length == 0 %}
            {% set price = product.price|number_format(2, '.', '') %}
            {% set formatedprice = product.price|number_format(2, config.plugins.shoppingcart.ui.currency_decimal_comma ? ',' : '.', '') %}            
            <div class="shoppingcart-price">
            {% include 'partials/shoppingcart_core_price.html.twig' with { price: page.header.price, stock: page.header.stock } %}                
            </div>            
            {% set stock = page.header.stock %}
            {% if page.header.cartmax is defined and page.header.cartmax and page.header.cartmax <= stock %}
            {% set stock = page.header.cartmax %}
            {% endif %}
            
            {% if stock > 1 %}
                <br>
                {{ 'PLUGIN_SHOPPINGCART.QUANTITY'|t|e }}: 
                {% if page.header.cartstep is defined and page.header.cartstep > 0 and page.header.cartstep <= stock %}                    
                    {# @todo test if we need to run in modulus operation on this or if browser implementations for inputs of type number are smart enough #} 
                    <input type="number" class="input-lg" id="js__shoppingcart__quantity" min="{{ page.header.cartstep }}" step="{{ page.header.cartstep }}" max="{{ stock }}" value="{{ page.header.cartstep }}" />
                {% else %}
                    <input type="number" class="input-lg" id="js__shoppingcart__quantity" min="1" max="{{ stock }}" value="1" />
                {% endif %}                
                <br>
                <br>
            {% else %}
               <input type="hidden" id="js__shoppingcart__quantity" placeholder="1" value="1" />
            {% endif %}
            
            {% include 'partials/shoppingcart_core_add_to_cart.html.twig' with { product: product } %}
            {% if page.header.allowquote %}
                {% include 'partials/shoppingcart_core_allow_quote.html.twig' with { product: product } %}
            {% endif %}            
            <script>
                (function() {
                    var currentProduct = {
                        title: "{{ product.title|e }}",
                        id: "{{ product.id|e }}",
                        formatted_price: "{{ formatedprice|e }}",
                        price: "{{ price|e }}",
                        stock: "{{ stock }}",
                        image: "{{ product.image.cropResize(image_size_cart, image_size_cart).url|raw }}",
                        url: "{{ product.url|raw }}",
                        mdpath: "{{ page.filePath }}",
                        path: "{{ page.path }}",
                        bgcolor: "{{ page.header.product_bgcolor }}",
                        size_cart: "{{ image_size_cart }}",
                        service_product: "{{ page.header.service_product }}",
                        cartmax: "{{ page.header.cartmax }}",
                        removeonadd: "{{ page.header.remove_on_add ? page.header.remove_on_add : 1 }}"                        
                    };

                    addStudioLoadEvent(function() {
                        ShoppingCart.currentProduct = currentProduct;
                    });
                }());
            </script>            
        {% elseif variationgroups|length > 0 %}            
            {% include 'partials/shoppingcart_core_detail_item_variations.html.twig' with { page: page, product: product, variationgroups: variationgroups } %}
        {% endif %}
                
        

    </div>
</div>
