{% extends 'shoppingcart_base.html.twig' %}

{% block content %}
    <style>
        th { background: #d9d9d9; }

        tr, td { text-align: left;}
        .details { flex: 1.5 }

        .center {
            margin: 0 auto;
            text-align: center;
        }
    </style>

    <h1>Latest Orders</h1>

    <div class="admin-block">
        <table>
            <tbody class="js__orders-container">
                <tr class="h">
                    <th class="date">Date</th>
                    <th class="amount">Amount</th>
                    <th class="taxes">Taxes</th>
                    <th class="details">Details</th>
                    <th class="products">Products</th>
                </tr>
                {% for order in grav.twig.orders.orders %}
                    <tr>
                        <td class="date">{{order.created_on|slice(0, 4)}}/{{order.created_on|slice(4, 2)}}/{{order.created_on|slice(6, 2)}}</td>
                        <td class="amount">
                            {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                {{ order.amount }}{{ currency_symbol }}
                            {% else %}
                                {{ currency_symbol }}{{ order.amount }}
                            {% endif %}
                        </td>
                        <td class="taxes">
                            {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                {{ order.taxes }}{{ currency_symbol }}
                            {% else %}
                                {{ currency_symbol }}{{ order.taxes }}
                            {% endif %}
                        </td>
                        <td class="details">
                            {% for index, item in (order.data ?: [])|merge(order.address ?: []) %}
                                {% set the_field = '' %}
                                {% for field in config.plugins.shoppingcart.checkout_form.fields %}
                                    {% if field.name == index %}
                                        {% set the_field = field %}
                                    {% endif %}
                                {% endfor %}

                                {% if not the_field.ignore %}
                                    <strong>{{ the_field.label|t|e }}</strong>:
                                    {{ item|e }}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="products">
                            {% for product in order.products %}
                                <strong>{{ "PLUGIN_SHOPPINGCART.ITEM"|t }}</strong>: {{product.product.title}} -
                                <strong>{{ "PLUGIN_SHOPPINGCART.QUANTITY"|t }}</strong>: {{product.quantity}} -
                                <strong>{{ "PLUGIN_SHOPPINGCART.PRICE"|t }}</strong>:

                                {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                    {{ product.product.price }}{{ currency_symbol }}
                                {% else %}
                                    {{ currency_symbol }}{{ product.product.price }}
                                {% endif %}
                                {% if product.product.variants is defined and product.product.variants|length > 0 %}
                                    <br>
                                    <strong>{{ "PLUGIN_SHOPPINGCART.PERSONALIZE_CART_VARIATIONS_BASEPRICE"|t }}</strong>: {{ (product.product.variants|first).varbaseprice }} -
                                    <strong>{{ "PLUGIN_SHOPPINGCART.QUANTITY"|t }}</strong>: {{product.quantity}} -
                                    <strong>{{ "PLUGIN_SHOPPINGCART.PRICE"|t }}</strong>:
                                    {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                        {{ (product.product.variants|first).varbaseprice * product.quantity }} {{ currency_symbol }}
                                    {% else %}
                                        {{ currency_symbol }} {{ (product.product.variants|first).varbaseprice * product.quantity }}
                                    {% endif %}
                                    {% for variant in product.product.variants %}                                        
                                        <br>
                                        <strong>{{ "PLUGIN_SHOPPINGCART.PERSONALIZE_VARIATION"|t }}</strong>: {{ variant.vardata.title }} -
                                        <strong>{{ "PLUGIN_SHOPPINGCART.PRICE"|t }}</strong>:
                                        {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                            {{ variant.varprice }} {{ currency_symbol }}
                                        {% else %}
                                            {{ currency_symbol }} {{ variant.varprice }}
                                        {% endif %}
                                        <strong>{{ "PLUGIN_SHOPPINGCART.PERSONALIZE_VARIATION_QUANTITY"|t }}</strong>: {{ variant.varmultiplier ~ ' * ' ~ product.quantity }} -
                                        <strong>{{ "PLUGIN_SHOPPINGCART.PRICE"|t }}</strong>:
                                        {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                            {{ variant.varprice * product.quantity * variant.varmultiplier }} {{ currency_symbol }}
                                        {% else %}
                                            {{ currency_symbol }} {{ variant.varprice * product.quantity * variant.varmultiplier }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <br>
                                <strong>{{ "PLUGIN_SHOPPINGCART.TOTAL"|t }}</strong>: 
                                {% if config.plugins.shoppingcart.ui.currency_symbol_position == 'after' %}
                                    {{ product.product.price * product.quantity }} {{ currency_symbol }}
                                {% else %}
                                    {{ currency_symbol }} {{ product.product.price * product.quantity }}
                                {% endif %}
                                
                                <hr>
                                
                                
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="center">
            <br>
            Showing <span class="totalRetrieved">{{grav.twig.orders.totalRetrieved}}</span> orders of <span class="totalAvailable">{{grav.twig.orders.totalAvailable}}</span>
            <br>
            <br>
            {% if (grav.twig.orders.page > 1) %}
                <a class="button center" href="{{ config.plugins.admin.route }}/shoppingcart/page:{{ (grav.twig.orders.page - 1) }}">Prev</a>
            {% endif %}

            {% if (grav.twig.orders.page * grav.twig.orders.totalRetrieved) < grav.twig.orders.totalAvailable %}
                <a class="button center" href="{{ config.plugins.admin.route }}/shoppingcart/page:{{ (grav.twig.orders.page + 1) }}">Next</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
